header
  .navbar.navbar-dark.bg-dark.fg-light
    .container-fluid
      a.navbar-brand(href = '#')
        img.d-unline-block.align-text-top#icon(src='img/ui/hpi.png' alt='' width='50', height='50')
        |Interactive Geometric Image Stylization using Bounding Hierarchies
